:root {
  --tab-highlighted-glow: #E920A3;
  --tab-surface-active: #5F5F5F;
}

:root #background {
  background: #4C4C4C;
}

tab-item {
  font-size: 12px !important;
}

tab-item tab-favicon {
	margin-right: 2px;
}

::part(extra-contents-by-tst-active-tab-in-collapsed-tree_piro_sakura_ne_jp) {
   background-color: #4C4C4C;
}

/*tab-item:not(.loading):not(.active):not(.pinned) tab-favicon {
  filter: drop-shadow(0px 0px 2.5px white);
}

tab-item:not(.some-descendants-highlighted) ::part(extra-contents-by-tst-active-tab-in-collapsed-tree_piro_sakura_ne_jp favicon) {
  filter: drop-shadow(0px 0px 5px white);
}*/