:root.sidebar tab-item {
  font-size: 10px !important;
}

:root.sidebar #background {
  background-color: #F0F0F4 /* or something background color */;
}

tab-item tab-favicon {
	margin-right: 2px;
}

::part(extra-contents-by-tst-active-tab-in-collapsed-tree_piro_sakura_ne_jp) {
   background-color: #F0F0F4;
}
