/*
  about:support > Profile Folder > Open Directory; chrome > userChrome.css
  about:config > toolkit.legacyUserProfileCustomizations.stylesheets > true
  https://firefox-source-docs.mozilla.org/devtools-user/settings/index.html
  to debug; open Developer settings; select "Enable browser chrome and add-on debugging toolboxes" and "Enable remote debugging"
  access developer tools; sandwich > More tools > Browser toolbox
*/

:root {
  --tab-min-height: 0 !important;
  --toolbar-non-lwt-bgcolor: #2D2D2D !important;
  --button-bgcolor: #4C4C4C !important;
  --toolbar-field-focus-background-color: #4C4C4C !important;
}

input.findbar-textbox {
  background-color: #4C4C4C !important;
}

#tabs-newtab-button {
  visibility: collapse !important;
}

#alltabs-button {
  visibility: collapse;
}

.tabbrowser-tab {
  visibility: collapse;
}

#titlebar {
  margin-bottom: -3px;
}

#titlebar-spacer {
  background-color: var(--chrome-secondary-background-color);
}

.titlebar-buttonbox-container {
  margin-top: 4px;
  margin-right: 5px;
}

#nav-bar {
  box-shadow: none !important;
  opacity: 0;
  height: 0;
  min-height: 5px !important;
}

#nav-bar:hover {
  opacity: 1;
  height: initial;
  min-height: 40px !important;
  margin-bottom: 5px;
}

#nav-bar:hover #urlbar[breakout] {
  /* #nav-bar min-height changes the default; we must restore it once hovered */
  /* see: https://github.com/WesleyBranton/Remove-Firefox-Megabar/blob/master/remove_megabar.css */
  /* see: https://www.userchrome.org/megabar-styling-firefox-address-bar.html */
  --urlbar-toolbar-height: 40px !important;
}

#sidebar-box {
  font-size: 12px !important;
  background-color: #4C4C4C !important;
}

#sidebar-box #sidebar-header {
  font-size: 12px !important;
}

#sidebar-splitter {
  width: 0px !important;
}
