/*
  about:support > Profile Folder > Open Directory; chrome > userChrome.css
  about:config > toolkit.legacyUserProfileCustomizations.stylesheets > true
  https://firefox-source-docs.mozilla.org/devtools-user/settings/index.html
  to debug; open Developer settings; select "Enable browser chrome and add-on debugging toolboxes" and "Enable remote debugging"
  access developer tools; sandwich > More tools > Browser toolbox
*/

/* :root {
  --tab-min-height: 5 !important;
  --button-bgcolor: #CFCFD8 !important;
  --toolbar-field-background-color: #DADAE2 !important;
  --toolbar-field-focus-background-color: #CFCFD8 !important;
  --sidebar-background-color: #F0F0F4 !important;
  /* this setting should affect TreeStyleTab background
  --toolbar-non-lwt-bgcolor: #F0F0F4 !important;
}

input.findbar-textbox {
  background-color: #CFCFD8 !important;
} */

#new-tab-button {
  visibility: collapse !important;
}

#alltabs-button {
  visibility: collapse !important;
}

.tabbrowser-tab {
  /* visibility: collapse; */
  font-size: 12px !important;
}

/* #titlebar {
  margin-bottom: -3px;
}

#titlebar-spacer {
  background-color: #0000ff !important;
}

.titlebar-buttonbox-container {
  margin-top: 9px;
  margin-right: 5px;
} */

#nav-bar {
  box-shadow: none !important;
  opacity: 0;
  height: 0;
  min-height: 5px !important;
}

#nav-bar:hover {
  opacity: 1;
  height: initial;
  min-height: 40px !important;
  margin-bottom: 5px;
}

#nav-bar:hover #urlbar:is([focused="true"], [open]) {
  /* #nav-bar min-height changes the default; we must restore it once hovered */
  /* inspired from below sources, but since at least Firefox v126 selectors were modified to the ones used here */
  /* see: https://github.com/WesleyBranton/Remove-Firefox-Megabar/blob/master/remove_megabar.css */
  /* see: https://www.userchrome.org/megabar-styling-firefox-address-bar.html */
  --urlbar-container-height: 40px !important;
}

#sidebar-box {
  font-size: 12px !important;
}

#sidebar-box #sidebar-header {
  font-size: 10px !important;
}

/* #sidebar-splitter {
  width: 0px !important;
} */
